---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Colors
$accent-color: #7396c5;
$primary-color: #ffffff;
$secondary-color: #eeeeee;
$text-color: #1d1d1d;

// Text
$text-body-size: 24px;

// Layout settings
$nav-padding: 20px;
$content-padding: 100px;

// Scroll arrow
$arrow-size: 50px;
$arrow-dist: 50px;

@mixin xs-screen {
  @media only screen and (max-width : 480px) {
    @content;
  }
}

@mixin s-screen {
  @media only screen and (min-width : 768px) {
    @content;
  }
}

@mixin m-screen {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

@mixin l-screen {
  @media only screen and (min-width: 1280px) {
    @content;
  }
}

@mixin resize-font($font) {
  @include xs-screen {
    font-size: round($font * 0.6);
  }

  @include s-screen {
    font-size: round($font * 0.8);
  }

  @include m-screen {
    font-size: round($font * 0.9);
  }

  @include l-screen {
    font-size: round($font);
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "h5bp-pre", "base", "h5bp-post";
