---
layout: default
---
<div class="content" id="about">
    <div class="row left">
        <h2>About</h2>
    </div>
    <div class="row">
        <div class="col-3">
            <img class="profile" src="/img/zack.jpeg">
        </div>
        <div class="off-1 col-8">
            I am a Computer Scientist located in Dallas, Texas. I am interested in too many things, but I try to focus
            on high performance web development, open source projects, information security, and finance. I am
            <em><strong>passionate</strong></em> about programming and creating elegant solutions that follow the UNIX Philosophy.
            Curious in nature and dedicated to learning new things, I thrive on the backend of a LAMP stack.
        </div>
    </div>
</div>

<div class="content" id="skills">
    <div class="row center">
        <h2>Skills</h2>
    </div>
    <div class="row">
        <div class="col-12 center">
            <canvas id="skill-chart" width="auto" height="auto"></canvas>
        </div>
    </div>
</div>

<div class="content" id="projects">
    <div class="row right">
        <h2>Projects</h2>
    </div>

    {% for project in site.projects %}
    <div class="row">
        <div class="col-5">
            <h2>{{ project.name }}</h2>

            <div class="col-3 thin right">
                <strong>Client:</strong><br>
            </div>
            <div class="col-9 thin left">
                {{ project.client }}
            </div>

            <div class="col-3 thin right">
                <strong>Project:</strong><br>
            </div>
            <div class="col-9 thin left">
                {{ project.project }}
            </div>

            <div class="col-3 thin right">
                <strong>Team:</strong><br>
            </div>
            <div class="col-9 thin left">
                {% for user in project.team %}
                    <a href="{{ user.link }}">{{ user.name }}</a>&nbsp;
                {% endfor %}
            </div>

            <div class="col-3 thin right">
                <strong>Link:</strong><br>
            </div>
            <div class="col-9 thin left">
                {% for link in project.link %}
                    <a href="{{ link.link }}">{{ link.label }}</a>&nbsp;
                {% endfor %}
            </div>

            <div class="col-3 thin right">
                <strong>Tech:</strong><br>
            </div>
            <div class="col-9 thin left">
                {% for tech in project.tech %}
                    <a href="{{ tech.link }}">{{ tech.label }}</a>&nbsp;
                {% endfor %}
            </div>
        </div>
        <div class="off-1 col-6">
            {{ project.about }}
        </div>
    </div>
    {% endfor %}
</div>

<div class="content" id="contact">
    <div class="row center">
        <h2>Contact</h2>
    </div>
    <div class="row">
        <div class="col-12 center">
            <a href="mailto:{{ site.email }}"><i class="fa fa-envelope-square fa-5x"></i></a>&nbsp;
            <a href="{{ site.github_profile }}"><i class="fa fa-github-square fa-5x"></i></a>&nbsp;
            <a href="{{ site.linkedin_profile }}"><i class="fa fa-linkedin-square fa-5x"></i></a>&nbsp;
            <a href="{{ site.twitter_profile }}"><i class="fa fa-twitter-square fa-5x"></i></a>
        </div>
    </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js"></script>
