---
layout: default
---
<div class="content" id="about">
  <h2>About</h2>
  <div class="row">
    <div class="col">
      <img class="profile" src="/img/zack.jpeg">
    </div>
    <div class="col">
      <span>{{ site.bio }}</span>
    </div>
  </div>
</div>
<div class="content" id="skills">
  <h2>Skills</h2>
  <div class="row">
    <div class="col">
      <div>
        <i class="fa fa-area-chart personal"></i>&nbsp;Personal
      </div>
      <div>
        <i class="fa fa-area-chart professional"></i>&nbsp;Professional
      </div>
    </div>
    <div class="col">
      <div class="ct-chart ct-major-twelfth" width="auto" height="auto"></div>
    </div>
  </div>
</div>
<div class="content" id="projects">
  <h2>Projects</h2>
  {% for project in site.projects %}

  <div class="row">
    <div class="col">
      <h3>{{ project.name }}</h3>
      <div class="row">
          <strong>Client:</strong>&nbsp;{{ project.client }}  
      </div>
      <div class="row">
          <strong>Project:</strong>&nbsp;{{ project.project }}
      </div>
      <div class="row">
          <strong>Team:</strong>&nbsp;
          {% for user in project.team %}
            {% if user.link == '#' %}
              {{ user.name }}&nbsp;
            {% else %}
              <a href="{{ user.link }}" target="_blank">{{ user.name }}</a>&nbsp;
            {% endif %}
          {% endfor %}
      </div>
      <div class="row">
          <strong>Link:</strong>&nbsp;
          {% for link in project.link %}
            {% if link.link == '#' %}
              {{ link.label }}&nbsp;
            {% else %}
              <a href="{{ link.link }}" target="_blank">{{ link.label }}</a>&nbsp;
            {% endif %}
          {% endfor %}
      </div>
      <div class="row">
        <strong>Tech:</strong>&nbsp;
        {% for tech in project.tech %}
          {% if tech.link == '#' %}
            {{ tech.label }}&nbsp;
          {% else %}
            <a href="{{ tech.link }}" target="_blank">{{ tech.label }}</a>&nbsp;
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="col">
      <span>{{ project.about }}</span>
    </div>
  </div>

  {% endfor %}
</div>
<div class="content" id="contact">
  <h2>Contact</h2>
  <div class="row center">
    <a href="mailto:{{ site.email }}" target="_blank"><i class="fa fa-envelope-square fa-5x"></i></a>&nbsp;
    <a href="{{ site.github_profile }}" target="_blank"><i class="fa fa-github-square fa-5x"></i></a>&nbsp;
    <a href="{{ site.linkedin_profile }}" target="_blank"><i class="fa fa-linkedin-square fa-5x"></i></a>&nbsp;
    <a href="{{ site.twitter_profile }}" target="_blank"><i class="fa fa-twitter-square fa-5x"></i></a>
  </div>
</div>
