* {
  color: $text-color;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  @include resize-font($text-body-size);
}

html {
  background: url('../img/dallas.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  overflow-x: hidden;
  scroll-behavior: smooth;
}

body, header, footer {
  overflow: hidden;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

header {
  height: 100vh;
}

footer {
  height: 40vh;
}

h1, h2, h3, h4, h5, h6, p {
  text-align: center;
  margin: 0;
  padding: 0;

  &.alt {
    color: $accent-color;
  }
}

h1 {
  padding: 20vh 0 0 0;
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

i {
  &:hover {
    color: $accent-color;
  }
}

a {
  color: $accent-color;
}

small {
  font-size: 0.8em;

  a {
    font-size: 1em;
  }
}

nav {
  z-index: 1;
  position: fixed;
  width: 100%;
  background-color: $accent-color;
  display: flex;

  a {
    &:first-child {
      flex: 1 1 auto;
      display: flex;
    }

    padding: round($nav-padding * 0.9);
    color: $text-color;
    text-decoration: none;
    cursor: pointer !important;
  }
}

svg {
  overflow: visible !important;
}

.arrow {
  margin-top: 50px;
  align-self: center;
  border-right: $arrow-size solid transparent;
  border-left: $arrow-size solid transparent;
  border-top: $arrow-size solid $accent-color;
  animation-duration: 3s;
  animation-name: bounce;
  animation-iteration-count: infinite;
  
  &.reversed {
    animation-direction: reverse;
    border-bottom: $arrow-size solid $accent-color;
    border-top: unset;
  }
}

@keyframes bounce {
  0%, 100% {
    margin-top: $arrow-dist;
  }

  50% {
    margin-top: $arrow-dist * 2;
  }
}

.col {
  display: flex;
  flex: 1 1;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  padding: round($content-padding/2);
  background-color: $primary-color;

  &:nth-child(odd) {
    background-color: $secondary-color;
  }

  .row {
    .col {
      &:first-child {
        flex: 1 2;
      }
  
      flex: 2 1;
      padding: round($content-padding/4);
      justify-content: center;
    }
  }
}

.profile {
  border: $accent-color;
  border-width: 7px;
  // border-radius: 21px;
  border-style: solid;
  box-sizing: border-box;

  max-width: 20vw;
  height: auto;
}

.professional {
  color: $text-color;
}
.personal {
  color: $accent-color;
}

.ct-series-a {
  .ct-point,
  .ct-line {
    stroke: $accent-color;
  }
  .ct-area {
    fill-opacity: 1;
    fill: adjust-color($accent-color, $alpha: -0.5);
  }
}

.ct-series-b {
  .ct-point,
  .ct-line {
    stroke: $text-color;
  }
  .ct-area {
    fill-opacity: 1;
    fill: adjust-color($text-color, $alpha: -0.5);
  }
}

.ct-label {
  &.ct-end {
    -moz-transform: rotate(30deg) translateY($nav-padding * 1.5);
    -webkit-transform: rotate(30deg) translateY($nav-padding * 1.5);
    -o-transform: rotate(30deg) translateY($nav-padding * 1.5);
    -ms-transform: rotate(30deg) translateY($nav-padding * 1.5);
    transform: rotate(30deg) translateY($nav-padding * 1.5);
  }
}

.center {
  align-self: center;
}

.blog-header {
  padding: 66px 0 0 0;
  overflow: hidden;
}

.blog-list-item {
  background-color: $secondary-color;
}
