/* change fonts */
* {
  color: $text-primary-color;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300 !important;
}

html {
  background: url('../img/dallas.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  overflow-x: hidden;
  scroll-behavior: smooth;

  @include resize-font($text-body-size);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

p {
  @include resize-font($text-body-size);
}

h1 {
  @include resize-font($text-head-size);
}

h2 {
  @include resize-font($text-subhead-size);
}

h3 {
  @include resize-font($text-subsubhead-size);
}

i {
  &:hover {
    color: $text-secondary-color;
  }
}

a {
  color: $site-accent-color;
}

nav {
  z-index: 1;
  top: 0;
  position: fixed;
  width: 100%;
  height: auto;
  background-color: $site-accent-color;

  @include flex;
  flex-direction: row;
  

  a {
    &:first-child {
      flex: 1 1 auto;
      display: flex;
    }

    padding: round($nav-padding * 0.9);
    color: $text-primary-color;
    text-decoration: none;
    cursor: pointer !important;

    @include resize-font($text-body-size);
  }
}

.flex {
  @include flex;
}

.arrow {
  margin-top: 50px;
  align-self: center;
  border-right: $arrow-size solid transparent;
  border-left: $arrow-size solid transparent;
  border-top: $arrow-size solid $site-accent-color;
  animation-duration: 3s;
  animation-name: bounce;
  animation-iteration-count: infinite;
  
  &.reversed {
    animation-direction: reverse;
    border-bottom: $arrow-size solid $site-accent-color;
    border-top: unset;
  }
}

@keyframes bounce {
  0%, 100% {
    margin-top: $arrow-dist;
  }

  50% {
    margin-top: $arrow-dist * 2;
  }
}

header {
  padding: 20vh 0 0 0;
  height: 80vh;
  overflow: hidden;

  h1, h2, h3 {
    color: $text-secondary-color;
  }

  @include flex;
}

.content {
  padding: $content-padding 0 $content-padding 0;
  width: 100%;
  background-color: $site-primary-color;

  &:nth-child(odd) {
    background-color: $site-secondary-color;
  }
}

.profile {
  border: $site-accent-color;
  border-width: 7px;
  border-radius: 21px;
  border-style: solid;

  width: 100%;
  height: 100%;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ct-series-a {
  .ct-point,
  .ct-line {
    stroke: rgba(27, 188, 155, 1);
  }
  .ct-area {
    fill-opacity: 1;
    fill: rgba(27, 188, 155, 0.5);
  }
}

.ct-series-b {
  .ct-point,
  .ct-line {
    stroke: rgba(29, 29, 29, 1);
  }
  .ct-area {
    fill-opacity: 1;
    fill: rgba(29, 29, 29, 0.5);
  }
}

.ct-label.ct-horizontal.ct-end {
  -moz-transform: rotate(30deg) translateY(20px);
  -webkit-transform: rotate(30deg) translateY(20px);
  -o-transform: rotate(30deg) translateY(20px);
  -ms-transform: rotate(30deg) translateY(20px);
  transform: rotate(30deg) translateY(20px);
}

.ct-legend {
  .professional {
    color: rgba(29, 29, 29, 1)
  }
  .personal {
    color: rgba(27, 188, 155, 1);
  }
}

// Alignment stuff.
.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

/**
 * Simple content grid.
 */
.row {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  overflow: hidden;
}

[class*='col-'] {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  @include xs-screen {
    padding: round($col-padding * 0.7);
  }

  @include s-screen {
    padding: round($col-padding * 0.8);
  }

  @include m-screen {
    padding: round($col-padding * 0.9);
  }

  @include l-screen {
    padding: round($col-padding);
  }
}

.thin {
  padding: 0;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.6666667%;
}

.col-10 {
  width: 83.3333333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.6666667%;
}

.col-7 {
  width: 58.3333333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.6666667%;
}

.col-4 {
  width: 33.3333333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.6666667%;
}

.col-1 {
  width: 8.3333333%;
}

.off-12 {
  margin-left: 100%;
}

.off-11 {
  margin-left: 91.6666667%;
}

.off-10 {
  margin-left: 83.3333333%;
}

.off-9 {
  margin-left: 75%;
}

.off-8 {
  margin-left: 66.6666667%;
}

.off-7 {
  margin-left: 58.3333333%;
}

.off-6 {
  margin-left: 50%;
}

.off-5 {
  margin-left: 41.6666667%;
}

.off-4 {
  margin-left: 33.3333333%;
}

.off-3 {
  margin-left: 25%;
}

.off-2 {
  margin-left: 16.6666667%;
}

.off-1 {
  margin-left: 8.3333333%;
}

footer {
  height: 40vh;

  @include flex;
}

.blog-header {
  padding: 66px 0 0 0;
  overflow: hidden;
}

.blog-list-item {
  background-color: $site-secondary-color;
}
