/**
 * Custom styles.
 */
html {
  @import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800');
  color: $text-primary-color;
  font-size: $text-body-size;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300 !important;
  background: url('../img/dallas.jpg') no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3 {
  margin: 0;
  color: $text-primary-color;
  font-weight: 300 !important;

  @include micro-screen {
    padding: 0 20px 0 20px;
  }
}

h1 {
  @include micro-screen {
    font-size: round($text-head-size * 0.5);
  }

  @include xs-screen {
    font-size: round($text-head-size * 0.7);
  }

  @include s-screen {
    font-size: round($text-head-size * 0.8);
  }

  @include m-screen {
    font-size: round($text-head-size * 0.9);
  }

  @include l-screen {
    font-size: $text-head-size;
  }
}

h2 {
  @include micro-screen {
    font-size: round($text-subhead-size * 0.5);
  }

  @include xs-screen {
    font-size: round($text-subhead-size * 0.7);
  }

  @include s-screen {
    font-size: round($text-subhead-size * 0.8);
  }

  @include m-screen {
    font-size: round($text-subhead-size * 0.9);
  }

  @include l-screen {
    font-size: $text-subhead-size;
  }
}

h3 {
  @include micro-screen {
    font-size: round($text-subsubhead-size * 0.5);
  }

  @include xs-screen {
    font-size: round($text-subsubhead-size * 0.7);
  }

  @include s-screen {
    font-size: round($text-subsubhead-size * 0.8);
  }

  @include m-screen {
    font-size: round($text-subsubhead-size * 0.9);
  }

  @include l-screen {
    font-size: $text-subsubhead-size;
  }
}

i {
  color: $text-primary-color;

  &:hover {
    color: $text-secondary-color;
  }
}

a {
  color: $site-accent-color;
}

nav {
  top: 0;
  position: fixed;
  width: 100%;
  height: auto;
  background-color: $site-accent-color;
  text-align: right !important;

  @include micro-screen {
    padding: round($nav-padding * 0.5);
  }

  @include xs-screen {
    padding: round($nav-padding * 0.7);
  }

  @include s-screen {
    padding: round($nav-padding * 0.8);
  }

  @include m-screen {
    padding: round($nav-padding * 0.9);
  }

  @include l-screen {
    padding: $nav-padding;
  }

  a {
    color: $text-primary-color;
    text-decoration: none;

    @include micro-screen {
      padding-right: round($nav-spacing * 0.5);
      font-size: round($text-body-size * 0.5);
    }

    @include xs-screen {
      padding-right: round($nav-spacing * 0.7);
      font-size: round($text-body-size * 0.7);
    }

    @include s-screen {
      padding-right: round($nav-spacing * 0.8);
      font-size: round($text-body-size * 0.8);
    }

    @include m-screen {
      padding-right: round($nav-spacing * 0.9);
      font-size: round($text-body-size * 0.9);
    }

    @include l-screen {
      padding-right: $nav-spacing;
      font-size: $text-body-size;
    }
  }
}

.header {
  height: 80vh;
  padding: 20vh 0 0 0;
  overflow: hidden;

  h1, h2, h3 {
    padding: 10vh 0 0 0;
    color: $text-secondary-color;
  }
}

.scroll {
  position: absolute;
  bottom: 0;
  width: 100%;

  @include micro-screen {
    height: round($scroll-height * 0.6);
    width: round($scroll-width * 0.6);
  }

  @include xs-screen {
    height: round($scroll-height * 0.7);
    width: round($scroll-width * 0.7);
  }

  @include s-screen {
    height: round($scroll-height * 0.8);
    width: round($scroll-width * 0.8);
  }

  @include m-screen {
    height: round($scroll-height * 0.9);
    width: round($scroll-width * 0.9);
  }

  @include l-screen {
    height: $scroll-height;
    width: $scroll-width;
  }
}

.content {
  padding: 80px 0 80px 0;
  width: 100%;
  background-color: $site-primary-color;

  &:nth-child(odd) {
    background-color: $site-secondary-color;
  }

  @include micro-screen {
    padding: round($content-padding * 0.15) 0 round($content-padding * 0.15) 0;
  }

  @include xs-screen {
    padding: round($content-padding * 0.25) 0 round($content-padding * 0.25) 0;
  }

  @include s-screen {
    padding: round($content-padding * 0.5) 0 round($content-padding * 0.5) 0;
  }

  @include m-screen {
    padding: round($content-padding * 0.75) 0 round($content-padding * 0.75) 0;
  }

  @include l-screen {
    padding: $content-padding 0 $content-padding 0;

  }
}

.profile {
  border: $site-accent-color;
  border-width: 7px;
  border-radius: 21px;
  border-style: solid;

  width: 100%;
  height: 100%;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// Alignment stuff.
.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

/**
 * Simple content grid.
 */
.row {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

[class*='col-'] {
  float: left;
  padding: $col-padding;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  // dbg
  border: 1px black solid;
}

.col-10 {
  width: 100%;
}

.col-9 {
  width: 90%;
}

.col-8 {
  width: 80%;
}

.col-7 {
  width: 70%;
}

.col-6 {
  width: 60%;
}

.col-5 {
  width: 50%;
}

.col-4 {
  width: 40%;
}

.col-3 {
  width: 30%;
}

.col-2 {
  width: 20%;
}

.col-1 {
  width: 10%;
}

.off-10 {
  margin-left: 100%;
}

.off-9 {
  margin-left: 90%;
}

.off-8 {
  margin-left: 80%;
}

.off-7 {
  margin-left: 70%;
}

.off-6 {
  margin-left: 60%;
}

.off-5 {
  margin-left: 50%;
}

.off-4 {
  margin-left: 40%;
}

.off-3 {
  margin-left: 30%;
}

.off-2 {
  margin-left: 20%;
}

.off-1 {
  margin-left: 10%;
}

/**
 * Grid layout for small screens.
 */
@include micro-screen {
  .col-10, .col-9, .col-8, .col-7, .col-6,
  .col-5, .col-4, .col-3, .col-2, .col-1 {
    width: 100%;
  }

  .off-10, .off-9, .off-8, .off-7, .off-6,
  .off-5, .off-4, .off-3, .off-2, .off-1 {
    margin-left: 0%;
  }
}
