---
layout: blog
---
{% for post in paginator.posts %}
<div class="content blog">
    <a href="{{ post.url }}" class="pull-left">{{ post.title }}</a><small class="pull-right blog-date">{{ post.displayDate || post.date }}</small>
    {% if post.summary %}<br><small class="blog-summary">{{ post.summary }}</small>{% endif %}
</div>
{% endfor %}

<div class="content blog">
  <div class="row">
    <div class="col center">
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | replace: 'index.html', '' }}" class="previous">Previous</a>
      {% else %}
      <span class="previous">Previous</span>
      {% endif %}
    </div>
    <div class="col center">
      <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    </div>
    <div class="col center">
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
      {% else %}
      <span class="next">Next</span>
      {% endif %}
    </div>
  </div>
</div>